</div>
<p>
</p>
<h1></h1>
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; BaggyPiece 2018 | <a href="/artists">Home</a> | <a href="/artists/new">New Artist</a></p>
  </div>
</footer>

</html>