body {
  background-image: url("https://wallpaperscraft.com/image/black_background_line_violet_color_graphics_487_1920x1200.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Syncopate', cursive;
  font-size: 15px;
}

.jumbotron {
  background-image: url(https://i.pinimg.com/736x/cf/a1/0f/cfa10f74b0337820a353d20940015753--heart-beat-my-heart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  color: white;
}

span {
  font-size: 14px;
  font-weight: bold;
}

span.glyphicon.glyphicon-headphones {
  font-size: 40px;
}

p {
  font-family: 'Happy Monkey';
}

p.text-muted {
  font-family: 'Syncopate', cursive;
  font-size: 15px;
}

h1 {
  color: white;
}

h4 {
  color: white;
  font-size: 12px;
}

a {
  color: white !important;
}

.navbar, .navbar-default {
  background-color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav.navbar.navbar-default {
  color: white;
}

div.caption-full {
  text-align: justify;
}

div.thumbnail {
  background-color: black;
  border-width: 5px;
  border-style: dotted;
  border-color: #656B6E;
  border-color: #5A206E;
}

.thumbnail {
  background-color: black;
  opacity: 0.9;
  height: 90%;
  width: 90%;
}

.delete-form {
  display: inline;
}

.thumbnail img {
  height: 22rem;
  width: 25rem;
  /* -webkit-filter: grayscale(100%); */
  padding: 0;
  margin: 0 auto;
}

img.img-responsive {
  height: 80%;
  width: 80%;
  filter: none;
}

div.row {
  color: #656B6E;
}

div.container {
  color: white;
}

div.col-md-12 {
  font-family: 'Happy Monkey', cursive;
  font-size: 13px;
}

span.pull-right {
  font-size: 12px;
  text-align: justify;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2;
  border: none;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #8064A2;
  border: none;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #8064A2;
  border: none;
}

.list-group-item.active {
  background-color: #8064A2;
  border: none;
}

.list-group-item.active:hover {
  background-color: black;
}

a.btn.btn-info.btn-lg {
  font-family: 'Syncopate', cursive;
  font-size: 15px;
}