<% include partials/header %>

  <% artists.forEach(function(artist){ %>
    <div>
      <h4><%= artist.name %></h4>
      <img src="<%= artist.image %>">
    </div>
    <% }); %>

      <% include partials/footer %>