<% include ../partials/header %>

  <div class="container">
    <header class="jumbotron alpha60">
      <div class="container">
        <h2> Welcome to BaggyPiece <span class="glyphicon glyphicon-headphones"></span></h2>
        <h5>View All Coolest Artists!</h5>
        <p>
          <a class="btn btn-info btn-lg" href="/artists/new">Add New Artist</a>
        </p>
      </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% artists.forEach(function(artist){%>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <% if(loggedIn){ %>
              <img src="<%= artist.image %>">
              <% } else {%>
                <img src="<%= artist.image %>" style="-webkit-filter: grayscale(100%);">
                <% } %>
                  <div class="caption">
                    <h4><%= artist.name %></h4>
                    <p>
                      <a href="/artists/<%= artist._id %>" class="btn btn-primary">More Info</a>
                    </p>
                  </div>
          </div>
        </div>
        <% }); %>
    </div>
    <% include ../partials/footer %>